.clear{
    clear: both;
}
.mg-top{
    margin-top: 65px;
}
.mg-bottom{
    margin-bottom: 82px;
}
.mg-bt-20px{
    margin-bottom: 20px;
}

.container{
    width: 1200px;
    margin: 0 auto;
    max-width: 100%;
}

.service-title{
    font-weight: 800;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--black-color);
}
.service-desc{
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: var(--black-color);
}
.center{
    text-align: center;
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    };
}