@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root{
    --primary-color: #D32046;
    --black-color: #000000;
    --white-color: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: Open Sans;
}
.header-main{
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.header_logo{
    text-align: center;
    margin: 45px 0; 
    width: 100%;
    
}
.header_logo img{
    width: 200px;
    height: 42.47px;
}
/* Hamburger */
.header-hamburger{
    display: none;
    cursor: pointer;
    z-index: 1;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin:  5px auto;
    -webkit-transition:  all 0.3s ease-in-out;
    background-color: var(--black-color);
}
.header-hamburger.actived .bar:nth-child(2){
    opacity: 0;
}
.header-hamburger.actived .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg); 
}
.header-hamburger.actived .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg); 
}
#overlay{
    display: none;
    position: fixed;
    background: #000;
    opacity: .7;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 8;
}
/*  */

.menu_list{
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin-bottom: 45px;
}

.menu_list li{
    margin: 0 30px;
}

.menu_list  a:hover{
    color: #D32046;
}

.menu_list li a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
}
/* .header_navbar .menu_list .item.active{
    color: #D32046;
    border-bottom: 3px solid #D32046;
} */

.menu_list .dropdown::after{
    content: "";
    height: 10px;
    width: 100%;
    background: #FFFFFF;
    display: block;
}

.dropdown-content{
    display: none;
    position: absolute;
    margin-top: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 190px;
    z-index: 1;
}
.dropdown .dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #F1F1F1;
}

.dropdown:hover .dropdown-content {
    display: block;
  }

  /* CART */
.header_cart{
    
}
.header_cart-wrap{
    position: relative;
    /* display: inline-block; */
    cursor: pointer;
}
.header_cart-wrap:hover .header_cart-list{
    display: block;
}

.header_cart-list{
    position: absolute;
    top: calc(100% + 4px);
    right: 0;
    background-color: #FFFFFF;
    width: 360px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    display: none;
    animation:  fadeIn ease-in 0.2s;
    cursor: default;
}
.header_cart-list::after{
    content: "";
    position: absolute;
    right: 0px;
    top: -25px;
    border-width: 15px 10px;
    border-style: solid;
    border-color:  transparent transparent #FFFFFF transparent;
    cursor: pointer;
}

.header_cart-no-cart{
    padding: 24px 0;
    margin-top: 5px;
}
.header_cart-no-cart .header_cart-no-cart-img,
.header_cart-no-cart .header_cart-no-cart-msg {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.header_cart-no-cart-img{
    width: 55%;
    display: none;
    
}
.header_cart-no-cart-msg{
    display: none;
    font-size: 16px;
    margin-top: 12px;
    font-weight: 600;
}
.header_cart-notice{
    position: absolute;
    padding: 0px 5px;
    font-size: 10px;
    background: #D32046;
    line-height: 14px;
    color: #FFFFFF;
    border-radius: 50%;
    top: -6px;
    right: -5px;
}
/* Cart item */
.header_cart-heading{
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 14px;
    color: #888;
    font-weight: 400;
}
.header_cart-list-item{
    padding-left: 0;
    list-style: none;
}
.header_cart-item{
    display: flex;
    align-items: center;
    
}
.header_cart-item:hover{
    background: #F8F8F8;
}
.header_cart-img{
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #ccc;
}
.header_cart-item-info{
    width: 100%;
    margin-right: 12px;

    
}
.header_cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_cart-item-name{
    font-size: 14px;
    font-weight: 400;
    color: #000;
    margin: 0;
}
.header_cart-item-price{
    font-size: 14px;
    font-weight: 400;
    color: #D32046;
}
.header_cart-item-multiply{
    font-size: 9px;
    font-weight: 400;
    color: #757575;
    margin: 0 4px;
}
.header_cart-item-quantity{
    font-size:12px ;
    color: #757575;
}
.header_cart-item-body{
    display: flex;
    justify-content: space-between;
}
.header_cart-item-description{
    color: #757575;
    font-size: 12px;
    font-weight: 300;
    
}
.header_cart-item-remove{
    color: #888;
    font-size: 14px;
    font-weight: 400;
}
.header_cart-item-remove:hover{
    color: red;
    cursor: pointer;
}
.header_cart-view{
    float: right;
    margin: 0 12px 12px 0;
}
.btn-cart{
    width: 124px ;
    height: 34px;
    background-color: #D32046;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 34px;
    text-decoration: none;
}
.btn-cart:hover{
    opacity: 0.7;
}
.icon-search-cart{
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    margin-left: 30px;
    color: var(--black-color);
    cursor: pointer;
}
.header_search{
    position: relative;
}
.search-box{
    position: absolute;
    width: 500px;
    top: 15%;
    left: -337%;
    border:  1px solid #ccc;
    outline: none;
    background: beige;
    padding: 16px 32px;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 30px;
    display: none;
}
/* Slider-Service */
.slider{
    margin-bottom: 30px;
}
.slider-main{
    background: url(../images/header.png) no-repeat;
    background-size: contain;
    display: flex;
    position: relative;
}
.slider-content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 90px 0;
    max-width: 1529px;
    width: 100%;
}
.slider-title{
    font-weight: 800;
    font-size: 36px;
    line-height: 50px;
    /* or 139% */
    text-transform: uppercase;
    width: 100%;
    max-width: 570px;
    margin-bottom: 30px;
    text-align: right;

}
.slider-desc{
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    /* or 156% */
    color: #000000;
    width: 100%;
    max-width: 591px ;
    margin-bottom: 23px;
    text-align: right;
}
.slider-readmore{
    text-decoration: none;
    color: var(--black-color);
    background: var(--white-color);
    padding: 7px 23px;
    border-radius: 30px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    border: 1px solid var(--black-color);
    margin-bottom: 8px;
}
.slider-readmore:hover{
    background: var(--primary-color);
    border: none;
    color: var(--white-color);
}
.slider-image img{
    width: 100%;
    height: auto;
    filter: drop-shadow(0 0 1px var(--black-color));
}

/* Panivation Slider */
.slider-panivation{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
}
.slider-panivation::before{
    content: "";
    position: absolute;
    height: 80%;
    width: 1px;
    background: #000000;
}
.btn{
    width: 9px;
    height: 9px;
    border-radius: 50%;
    margin: 10px 0;
    border: 1px solid var(--black-color);
    background: var(--white-color);
    position: relative;
}
.btn:hover{
    background: var(--primary-color);
    width: 20px;
    height: 20px;
    border: 2px solid #F5F5F5;

}
.btn:first-child{
    margin-top: 26px;
}
.btn:last-child{
    margin-bottom: 26px;
}
.btn-prev, .btn-next{
    background: var(--white-color);
    position: relative;
    /* font-size: 20px;
    line-height: 20px; */
    /* margin: 10px 0; */
}
.slider-btn:hover {
    color: var(--primary-color);
}
.slider-heart{
    position: absolute;
    /* top: 0; */
    left: 0;
    bottom: 210px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: var(--white-color);
    border-radius: 0 30px 30px 0;
    text-align: center;
    text-decoration: none;
    color: var(--black-color);
}
.slider-heart:hover{
    color: var(--primary-color);
}
/* Category */
.category-main{
    display: flex;
    margin-bottom: 70px;
}
.category-left{
    background: #1A9FA2;
    padding: 70px 0 0 76px;
    width: 100%;
    max-width: 1138px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.category-title{
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    /* identical to box height, or 133% */
    text-transform: uppercase;
    color: var(--black-color);
    margin-bottom: 20px;
}
.category-links{
    display: flex;
    align-items: center;
}
.more-category{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--black-color);
    text-decoration: none;
    margin-right: 20px;
}
.category-image{
    clear: both;
}
.category-image img{
    display: block;
    object-fit: cover;
    float: right;
    width: 100%;
    height: auto;
}
.category-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.category-up{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 58px;
    padding-top: 16px;
    background-color: #EFB627;
    margin-bottom: 40px;
    height: 100%;
}
.category-down{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 58px;
    padding-top: 16px;
    background: #F4F2C6;
    height: 100%;
}


/*  Service*/
.service{
    margin-bottom: 70px;
}
.service-heading{
    margin-bottom: 40px;
}
.service-list{
    display: flex;
    list-style: none;
    justify-content: center;
    margin-bottom: 70px;
}
.service-item{
    padding: 0 50px;
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;
    /* identical to box height, or 182% */
    text-transform: uppercase;
    color: var(--black-color);
    border-right: 1px solid var(--black-color);
}
.service-list .line{
    border: 1px solid #D32046;
    transform: rotate(45deg);
    margin-right: 60px;
}
.service-item:nth-child(3){
    padding: 0 70px;
}
.service-item:last-child{
    border-right: 0;
    padding-right: 0;
}
.service-links{
    text-decoration: none;
    color: var(--black-color);
}
.service-links:hover{
    color: #D32046;
}

.slick-initialized .slick-slide{
    margin: 0 15px;
}
.slick-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid #000000;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    line-height: 1;
    z-index: 2;
    transition: all 0.2s linear;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.slick-arrow:hover{
    background-color: #D32046;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    outline: none;
}
.slick-prev{
    left: 37px;
}
.slick-next{
    right: 37px;
}
/* Banner 1 */


/* Banner-Service 2 */
.banner-about{
    margin-bottom: 70px;
}
.banner-about-main-up{
    background: url(../images/dichvu/baner.png) no-repeat right center/auto;
    height: 100%;
}
.banner-about-body{
    background: linear-gradient(90deg, #F5F5F5 71.35%, rgba(245, 245, 245, 0) 100%);
    width: 100%;
    max-width: 1000px;
    padding: 95px 0 95px 124px;
}
.banner-about-main-down{
    background: url(../images/dichvu/baner2.png) no-repeat right center/auto;
    height: 100%;
}
.banner-titlee{
    font-weight: 800;
    font-size: 36px;
    line-height: 50px;
    /* identical to box height, or 139% */
    text-transform: uppercase;
    color: var(--primary-color);
    margin-bottom: 64px;
    position: relative;
}
.banner-titlee::before{
    content: "";
    display: block;
    position: absolute;
    width: 98px;
    border: 2px solid #EFB627;
    bottom: -28px;
}
.banner-heading{
    font-weight: 300;
    font-size: 60px;
    line-height: 60px;
    /* or 100% */
    /* #1A9FA2 */
    color: #1A9FA2;
    width: 100%;
    max-width: 635px;
    margin-bottom: 67px;
}
.btn-more{
    background: var(--white-color);
    border-radius: 30px;
    text-decoration: none;
    color: var(--black-color);
    padding: 16px 65px;
    border: 1px solid var(--black-color);
}
.btn-more:hover{
    background: var(--primary-color);
    color: var(--white-color);
    border: none;
}
.banner-about-content{
    width: 100%;
    max-width: 1000px;
    padding: 139px 120px;
    background: linear-gradient(90deg, #F5F5F5 71.35%, rgba(245, 245, 245, 0) 100%);
    position: relative;
}
.banner-about-content::before{
    content: "";
    position: absolute;
    width: 100px;
    border: 2px solid var(--primary-color);
    top: 0;
}
.banner-about-title{
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: var(--black-color);
    margin-bottom: 30px;
}
.banner-about-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-align: justify;
}
.banner-about-name{
    display: block;
    color: var(--primary-color);
    font-weight: 800;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 55px;
}
.more-links{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.more-infomation{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--black-color);
    margin-right: 20px;
}
.btn-readmore-links{
    text-align: center;
}
.btn-readmore-links .btn-readmore{
    text-decoration: none;
    padding: 16px 70px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 30px;
}
.btn-readmore-links .btn-readmore:hover{
    opacity: 0.7;
}
/* SUPPORT */
.support{
    margin-bottom: 70px;
}
.support-main{
    background: url(../images/dichvu/support.png) no-repeat;
    /* opacity: 0.8; */
}
.support-list{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px 0;
}
.support-line{
    width: 90px;
    border: 1px solid var(--black-color);
    margin: 60px 60px 0;
}
.support-item{
    text-align: center;
    text-transform: uppercase;
    color: var(--black-color);
}
.support-image{
    width: 60px;
    height: 60px;
    margin: 0 auto;
}
.support-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.support-content{
    margin-top: 30px;
}
.support-title{
    font-weight: 800;
    font-size: 16px;
    line-height: 30px;
    /* or 188% */
    margin-bottom: 5px;
}
.support-desc{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.2em;
}
/* CUSTOMER */
.customer{
   margin-bottom: 70px;
}
.customer-line{
    position: relative;
    margin-bottom: 70px;
}
.customer-line::before{
    content: "";
    display: block;
    position: absolute;
    border: 1px solid var(--black-color);
    width: 552px;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
.service-customer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}
.customer-image{
    margin: 0 30px;
}

.service-customer img{
    /* width: 80px;
    height: 80px; */
}

.customers-infomation{
    padding: 0 115px;
}
.customers-item{

}
.customers-heading{
    display: flex;
}
.customers-icon{
    font-size: 60px;
    line-height: 60px;
    color: var(--primary-color);
    margin-right: 60px;
}
.customers-title{
    margin-bottom: 36px;
}
.customers-name{
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: var(--black-color);
}
.customers-profect{
    display: block;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    /* #D32046 */
    color: var(--primary-color);
}
.customers-image{
    width: 100%;
    height: 100%;
    position: relative;
}
.customers-image::before{
    content: "";
    position: absolute;
    width: 130px;
    height: 130px;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 25px;
    transform: rotate(45deg) translateX(-40%) translateY(-50%);
    left: 35%;
    top: 50%;
    z-index: -1;
}
.customers-image img{
    border-radius: 50%;
    object-fit: cover;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
.customers-description{
    margin: 30px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    /* or 156% */
    text-align: justify;
    color: var(--black-color);
}
/* Về Chúng tôi */
.journeys{
    margin-bottom: 70px;
}
.journeys-heading{
    text-align: center;
}
.journeys-logo{
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
    color: var(--black-color);
    margin-bottom: 25px;

}
.journeys-maxim{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.2em;
    color: var(--black-color);
    margin-bottom: 25px;
}
.journeys-title{
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    color: var(--primary-color);
}
.journeys-line{
    position: relative;
}
.journeys-line::before{
    content: "";
    position: absolute;
    display: block;
    border: 1px solid var(--black-color);
    width: 90px;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
.journeys-text{
    margin: 90px 0 35px 0 ;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* or 188% */
    text-align: justify;
    /* #000 */
    color: var(--black-color);
}

.journeys-list{
    display: flex;
    margin-top: 90px;
    position: relative;
}
.journeys-item{
    width: 25%;
    text-align: center;
    padding: 0 18px;

}
.journeys-image{
    width: 50px;
    height: 50px;
    margin: 0 auto;
}
.journeys-img{
    width: 100%;
    height: auto;
}
.journeys-name{
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    text-transform: uppercase;
    color: var(--primary-color);
    border: 2px solid #D32046;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 30px;
    padding: 9px 0;
    background: var(--white-color);
    margin-bottom: 12px;
    position: relative;
}
.journeys-list::before{
    content: "";
    position: absolute;
    border: 1px solid var(--primary-color);
    transform: translateX(-50%) translateY(-50%);
    top: 55%;
    width: 90%;
    left: 50%;
}

.journeys-desc{
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    /* or 156% */
    text-align: center;
    color: var(--black-color);
}
.videos{
    margin-bottom: 70px;
}
.video-image img{
    width: 100%;
    height: auto;
}
/* visionmission */
.visionmission{
    margin-bottom: 70px;
}
.vision-main{
    
}
.visionmission-title{
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    text-transform: uppercase;
    color: var(--primary-color);
    margin-bottom: 34px;
    position: relative;
}
.visionmission-title::before{
    content: "";
    position: absolute;
    border: 1px solid var(--black-color);
    width: 90px;
    bottom: -20px;
}
.visionmission-name{
    margin-bottom: 22px;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    text-align: justify;
    color: var(--primary-color);
}
.visionmission-up{
    display: flex;
}
.visionmission-text{
    width: 100%;
    max-width: 538px;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    /* or 156% */
    text-align: justify;
    /* #000 */
    color: var(--black-color);
}
.vision-text{
    margin-right: 33px;
}
.visionmission-image{
    width: 538px;
    height: 372px;
}
.visionmission-image img{
    width: 100%;
    height: auto;
}
.mission-main{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 70px;
}
.visionmission-down{
    margin-left: 33px;
}
/* Liên hệ */
.maps{
    margin-bottom: 50px;
}
.contact-title{
    margin-bottom: 46px;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    color: #D32046;
}
.infomation-main{
    display: flex;
    margin-bottom: 70px;
}
.infomation-title{
    font-weight: 800;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */
    text-transform: uppercase;
    color: var(--black-color);
    margin-bottom: 5px;
}
.infomation-item{
    margin-bottom: 40px;
}
.infomation-address{
    /* display: flex; */
    margin-bottom: 5px;
    width: 100%;
    max-width: 335px;
}
.infomation-icon{
    font-size: 20px;
    margin-right: 15px;
    color: var(--black-color);
}
.infomation-desc{
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: var(--black-color);
}
.infomation-form{
    margin-left: 70px;
    flex: 1;
}

.form-contact{
    width: 100%;
    clear: both;
}
.form-field{
    position: relative;
    margin-bottom: 35px;
}
.half-width{
    width: 50%;
}
.full-width{
    width: 100%;
}
.form-control{
    display: block;
    width: 100%;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 25px;
    outline: none;
    padding: 16px 34px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */

    text-align: justify;
}
.form-title{
    padding: 0 8px;
}
.coll{
    float: left;
    padding: 0 8px;
}
.height-90{
    height: 90px;
    border-radius: 60px;
}
.btn-btn-submit{
    padding: 16px 49px;
    outline: none;
    border-radius: 30px;
    border: none;
    background: var(--primary-color);
    color: var(--white-color);
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    cursor: pointer;
}
.btn-btn-submit:hover{
    opacity: 0.7;
}

/* Dịch vụ */

/* Construction */
.construction{
    margin-bottom: 70px;
}
.construction-main{
    display: flex;
}
.construction-heading{
    position: relative;
}
.construction-heading::after{
    position: absolute;
    content: "";
    display: block;
    border: 1px solid var(--black-color);
    width: 90px;
    bottom: -24px;
}
.construction-heading.center::after{
    position: absolute;
    content: "";
    display: block;
    border: 1px solid var(--black-color);
    width: 90px;
    bottom: -24px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.connstruction-text{
    margin-top: 48px;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    text-align: justify;
    color: var(--black-color);
    width: 100%;
    max-width: 570px;
    margin-bottom: 26px;
}

.construction-advantage{
    list-style: none;
}
.advantage-icon{
    font-size: 14px;
}
.construction-desc{
    margin-left: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: var(--black-color);
}

.construction-timeline{
    margin-left: 65px;
}
.construction-image{
    position: relative;
}
.construction-image img{
    width: 100%;
    height: auto;
}
.contruction-title{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 14px;
    /* padding: 0 14px 0 158px; */
    text-align: center;
}
.contruction-title span{
    padding: 20px 0;
    color: var(--white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
/* Procedure */
.procedure{
    background: #F7F7F7;
    padding: 62px 0;
    margin-bottom: 54px;
}
.procedure-heading{
    margin-bottom: 96px;
}
.procedure-list{
    display: flex;
    justify-content: center;
}
.procedure-item{
    text-align: center;
    padding: 0 32px;
    width: 25%;
}
.procedure-item:first-child{
    padding-left: 0;
}
.procedure-item:last-child{
    padding-right: 0;
}
.procedure-image{
    width: 42px;
    height: 42px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}
.procedure-image::before{
    position: absolute;
    content: "";
    display: block;
    width: 85px;
    height: 85px;
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    z-index: -1;
}
.procedure-image:hover::before{
    background: var(--primary-color);
}
.procedure-image{
    text-align: center;
    cursor: pointer;
}
.procedure-img{
    width: 100%;
    height: 100%;
}
.procedure-image:hover #procedure-img2{
    display: block;

}
.procedure-image:hover #procedure-img1{
    display: none;
}
#procedure-img2{
    display: none;
}

.procedure-content{
    margin-top: 50px;
}
.procedure-name{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: var(--black-color);
    margin-bottom: 8px;
}
.procedure-desc{
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: var(--black-color);

}

/* Project */
.project{
    margin-bottom: 70px;
}
.project-heading{
    margin-bottom: 70px;
    text-align: center;
}
.project-title{
    font-weight: 800;
    font-size: 36px;
    line-height: 50px;
    color: var(--black-color);
    text-transform: uppercase;
    position: relative;
    margin-bottom: 32px;
}
.project-title::before{
    content: "";
    position: absolute;
    border: 1px solid var(--black-color);
    width: 286px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
}
.project-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    /* identical to box height, or 156% */
    color: var(--black-color);
}
.project-list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 45px;
}
.project-item{
    width: 33.3333333%;
    padding: 0 16px;
    position: relative;
    margin-bottom: 32px;
}
.project-image{
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;

}
.project-img{
    width: 100%;
    height: auto;
    object-fit: contain;

}
.project-content{
    position: absolute;
    bottom: 0;
    background: rgba(255, 255, 255, 0.9);
    padding: 15px 26px 12px ;
    width: 100%;
    display: none;
    transition: all .6s linear;
}
.project-name{
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */
    color: var(--black-color);
    margin-bottom: 10px;
}
.project-mota{
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    /* identical to box height, or 0% */
    color: var(--primary-color);
    margin-bottom: 10px;
}
.project-area , .project-fashion{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--black-color);
    margin-bottom: 10px;
}
.project-description{
    font-weight: 300;
    display: block;
    font-size: 11px;
    line-height: 18px;

}
.project-item:hover .project-content{
    display: block;
    transition: all .6s linear;
}
 
.pagination-list{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;
}
.pagination-list .pani-item{
    margin: 0 20px;
}
.pagination-list .pani-item .pani-link{
    color: var(--black-color);
    text-decoration: none;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
}
.pagination-list .pani-item.active .pani-link{
    color: #000000;
    font-weight: 600;
}
.pagination-list .pani-item .pani-link:hover{
    color: #000000;
    font-weight: 600;
}
.pagination-list .pani-item .pani-icon{
    color: rgba(0, 0, 0, 0.7)
}
.pagination-content{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--black-color);
}

/* Price - SERVICE */
.price-service{
    margin-bottom: 70px;
}
.price-main{
    background: url(../images/price-design/banner.png) no-repeat;
    background-size: cover;
    padding: 45px 0;
}
.price-advantage{
    text-align: center;
    display: flex;
    flex-direction: column;
     margin-top: 38px;
    /* margin-bottom: 33px; */
}
.price-advantage .price-icon{
    font-size: 15px;
    line-height: 15px;
}
.price-advantage .price-text{
    font-weight: 400;
    font-size: 14px;
    /* line-height: 60px; */
    margin: 15px 0;
    color: var(--black-color);
}
.price-packages{
    display: flex;
    justify-content: center;
    background: #F7F7F7;
    padding: 33px 0;
}
.price-combo{
    margin-right: 95px;
    
}
.price-combo a{
    display: block;
    border-radius: 20px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}
.price-combo .packages-links{
    background: var(--white-color);
    border: 2px solid #D32046;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--primary-color);
    padding: 9px 76px;
    margin: 0 0 20px 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin-top: 10px;
}
.price-combo .packages-links:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.price-combo .contact-links{
    width: 100%;
    max-width: 100px;
    margin: 57px auto 0;
    padding: 7px 27px;
    background: var(--primary-color);
    color: var(--white-color);
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
}
.price-combo .contact-links:hover{
    opacity: 0.6;
}
.price-procedure{
    /* display: flex;
    flex-direction: column; */
}
.price-team{
    margin-bottom: 46px;
}
.price-nest{
    display: flex;
    align-items: center;
    
}
.price-nest .price-stt{
    margin-right: 29px;
    font-weight: 700;
    font-size: 16px;
    line-height: 35px;
    /* or 219% */
    color: var(--primary-color);
}
.price-nest .price-desc{
    font-weight: 300;
    font-size: 14px;
    line-height: 35px;
    /* or 250% */
    text-align: justify;
    color: var(--black-color);
}
.price-list{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.price-image{
    position: relative;
}
.price-image::before{
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    border: 2px solid var(--primary-color);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    left: 50%;
    top: 50%;
    border-radius: 20px;
    box-sizing: border-box;

}
.price-image img{
    width: 35px;
    height: 35px;
}
.price-content{
    margin-top: 36px;
}
.price-name{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: var(--black-color);
    margin-bottom: 7px;
}
.price-area{
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: var(--black-color);
}

/* Produre DESIGN  */
.produre-design{
    margin-bottom: 70px;
}
.produre-design-main{
    background: url(../images/produredesign/banner.png) no-repeat;
    background-size: cover;
    padding: 106px 0;
}
.design-step{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    align-items: center;
}
.design-step .design-name{
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--black-color);
}
.design-step .design-icon{
    margin: 0 20px;
    color: #1A9FA2;
    font-size: 24px;
}
.design-step .down-icon{
    margin: 0 20px;
    color: #1A9FA2;
    font-size: 24px;
    display: none;
}

/* Product */
.product-slider{
    margin-bottom: 30px;
}
.product-slider_main{
    display: flex;
    background: url(../images/product/bg.png) no-repeat left/contain;
    position: relative;
    width: 100%;
}
.product-slider_wrap{
    display: flex;
    padding: 122px 0;
    align-items: center;
    width: 80%;
}
.product-slider_image{
    padding-left: 251px;
}
.product-slider_image img{
    width: 100%;
    height: auto;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
}
.product-slider_content{
    text-align: right;
    flex: 1;
}
.product-slider_heading{
    position: relative;
}
.product-slider_title{
    font-weight: 800;
    font-size: 150px;
    line-height: 204px;
    text-transform: uppercase;
    color: #E6E6E6;
}
.product-slider_name{
    position: absolute;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    color: var(--black-color);
    top: 50%;
    right: 0;
    transform: translateX(-25%) translateY(-50%);
}
.product-slider_line{
    border: 1px solid var(--primary-color);
    transform: rotate(-45deg);
    width: 60px;
    position: absolute;
    top: 50%;
    right: -5px;
}
.product-slider_desc{
    width: 100%;
    max-width: 488px;
    font-weight: 800;
    font-size: 36px;
    line-height: 50px;
    text-transform: uppercase;
    float: right;
    color: var(--black-color);
    margin-bottom: 15px;
}
.product-slider_price{
    font-weight: 300;
    font-size: 60px;
    line-height: 60px;
    color: var(--primary-color);
    margin-bottom: 60px;
}
.product-slider_links{
    text-decoration: none;
    color: var(--black-color);
    border: 1px solid var(--black-color);
    border-radius: 30px;
    padding: 16px 65px;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
}
.product-slider_links:hover{
    border: none;
    background: var(--primary-color);
    color: var(--white-color);
}

/* CAtegory product */
.product-category{
    margin-bottom: 60px;
}
.product-category_up{
    display: flex;
}
.product-category_left{
    display: flex;
    background: #1A9FA2;
    text-align: right;
    width: 60%;
    margin-right: 30px;
}
.product-category_image{

}
.product-category_image img{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.product-category_content{
    flex: 1;
    padding: 60px 0;
    position: relative;
}
.content-left{
    padding-right: 60px;
}
.sale-off{
    display: inline;
    padding:  16px 45px;
    background: var(--white-color);
    color: var(--black-color);
    border-radius: 30px;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
}
.product-category_body{
    margin-top: 137px;
    position: relative;
}
.body-left{
    margin-bottom: 175px;
}

.product-category_name{
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
}
.product-category_price{
    font-weight: 400;
    font-size: 20px;
    color: var(--white-color);
}
.price-left{
    margin-right: 57px;
}
.product-category_line{
    position: absolute;
    border: 1px solid #FFFFFF;
    width: 60px;
    
}
.line-left{
    right: 0;
    transform: rotate(-45deg);
}
.product-category_links{
    display: flex;
    align-items: center;
}
.links-left{
    justify-content: flex-end;
}
.product-category_readmore{
    color: var(--black-color);
    text-decoration: none;
    margin-right: 15px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.2em;
    white-space: nowrap;
}
.product-category_icon{
    font-size: 30px;
}
.product-category_links:hover .product-category_readmore, .product-category_links:hover .product-category_icon{
    color: var(--primary-color);
}
.product-category_right{
    display: flex;
    background: #EFB627;
    flex-direction: row-reverse;
    align-items: center;
    flex: 1;
}
.content-right{
    padding-left: 60px;
   
}
.body-right{
    margin-bottom: 157px;
    max-width: 233px;
    width: 100%;
}
.price-right{
    margin-left: 57px;
}
.line-right{
    transform: rotate(45deg);
    left: 0;
}

.product-category_down{
    display: flex;
    margin-top: 30px;
}
.category_down-left{
    display: flex;
    background: #F6E9D5;
    margin-right: 30px;
}
.category_down_content{
    padding: 60px 0;
    flex: 1;
}
.down_content-left{
    padding-right: 60px;
    text-align: right;
}
.down-body{
    margin-bottom: 175px;
}
.down_name{
    white-space: nowrap;
}
.down_price-left{
    color: var(--primary-color);
    margin-right: 57px;
}
.line-down-left{
    right: 0;
    transform: rotate(-45deg);
    border-color: var(--primary-color);
}
.category_down-right{
    display: flex;
    flex: 1;
    background: #F4F2C6;
    /* flex-direction: row-reverse; */
}
.down_content-right{
    padding-left: 60px;
}
.down_price-right{
    color: var(--primary-color);
    margin-left: 57px;
}
.line-down-right{
    left: 0;
    transform: rotate(45deg);
    border-color: var(--primary-color);
}

/* PRODUCT */
.product{
    margin-bottom: 60px;
}
.product-main{
    position: relative;
}
.product-title{
    position: relative;
}
.product-title::before{
    content: "";
    position: absolute;
    border: 1px solid var(--black-color);
    width: 222px;
    bottom: 0;
}
.product-list{
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.product-directory{
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    color: var(--black-color);
    margin-bottom: 24px;
    position: relative;
    padding-left: 15px;
}
.product-directory::before{
    content: "";
    position: absolute;
    top: 66%;
    left: 0;
    transform: translateX(-50%) translateY(-50%);
    width: 10px;
    height: 5px;
    background: var(--primary-color);
}

.product-item{
    width: 33.333333%;
    padding: 0 15px;
    margin-bottom: 60px;
}
.product-image{
    position: relative;
    padding: 43px 50px;
    overflow: hidden;
}
.product-pink{
    background: url(../images/product/bg-pink.png) no-repeat left/contain;
}
.product-green{
    background: url(../images/product/bg-green.png) no-repeat left/contain;
}
.product-bgyellow{
    background: url(../images/product/bg-bightyellow.png) no-repeat left/contain;
}
.product-yellow{
    background: url(../images/product/bg-yellow.png) no-repeat left/contain;
}
.product-image img{
    width: 100%;
    height: auto;
}
.product-links{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    list-style: none;
    text-align: center;
    display: none;
    transition: all 3s linear;
}


.product-image:hover .product-links
{
    display: block;
}
.product-links li{
    margin-bottom: 15px;
}
.product-links li:nth-child(2){
    margin-bottom: 30px;
}
.product-links li i{
    width: 45px;
    height: 45px;
    background: var(--white-color);
    border-radius: 50%;
    line-height: 45px;
    border: 1px solid var(--black-color);
    color: var(--black-color);
    font-size: 20px;
}
.product-links li .product-cart{
    text-decoration: none;
    border: 1px solid var(--black-color);
    border-radius: 30px;
    padding: 10px 24px;
    background-color: var(--white-color);
    color: var(--black-color);
}
.product-links li .product-cart:hover , .product-links li i:hover{
    background: var(--primary-color);
    color: var(--white-color);
    border: none;

}

.product-content{
    margin-top: 30px;
    position: relative;
}
.product-name{
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: var(--black-color);
    margin-bottom: 10px;
}
.product-heading{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #8E8E8E;
    margin-bottom: 10px;
}
.product-price{
    font-weight: 400;
    font-size: 20px;
    color: var(--primary-color);
    padding-left: 57px;
    position: relative ;
}
.product-price::before{
    content: "";
    display: block;
    position: absolute;
    bottom: -10px;
    border: 1px solid var(--primary-color);
    transform: rotate(45deg);
    width: 60px;
    left: -5px;
}
/* .product-line{
    position: absolute;
    width: 60px;
    border:  1px solid var(--primary-color);
    transform: rotate(45deg);
    left: -5px;
} */

.product-panivation{
    
}
.product-btn{
    background-color: var(--white-color);
    border-radius: 50%;
    border: 1px solid var(--black-color);
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    cursor: pointer;
}
.product-btn:hover {
    background: var(--primary-color);
    color: #000;
    border: none;
    color: var(--white-color);
}
.product-prev{
    position: absolute;
    left: -45px;
    top: 52%;
    transform: translateX(-50%) translateY(-50%);
}
.product-next{
    position: absolute;
    right: -100px;
    top: 52%;
    transform: translateX(-50%) translateY(-50%);
} 

/* Baneer */

 .banner-product{
    margin-bottom: 60px;
}

.banner-product-main{
    background: url(../images/product/banner.png) no-repeat right/auto;
}
.banner-product-body{
    background: linear-gradient(90deg, #F5F5F5 71.35%, rgba(245, 245, 245, 0) 100%);
    max-width: 1000px;
    width: 100%;
    padding: 60px 0 60px 120px;
}
.banner-product-head{
}
.banner-product-text{
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    color: var(--black-color);
    position: relative;
    margin-left: 57px;
}
.banner-product-text::before{
    content: "";
    position: absolute;
    border: 1px solid #1A9FA2;
    transform: rotate(45deg);
    width: 60px;
    left: -57px;
    top: 50%;
}
.banner-product-title{
    margin-top: 72px;
    font-weight: 800;
    font-size: 36px;
    line-height: 50px;
    color: var(--black-color);
    text-transform: uppercase;
    margin-bottom: 25px;
}
.banner-product-heading{
    font-weight: 300;
    font-size: 60px;
    line-height: 60px;
    color: #1A9FA2;
    max-width: 630px;
    width: 100%;
    margin-bottom: 67px;
}
.product-new{
    position: relative;
}
.product-new::before{
    content: "";
    position: absolute;
    border: 1px solid var(--black-color);
    width: 341px;
    bottom: 0;
}

/* ************************************************************************ */

/* subscribe */
.subscribe{
    margin-bottom: 82px;
}
.subscribe-main{

}
.subscribe-heading{
    margin-bottom: 70px;
}
.subscribe-title{
    position: relative;
}
.subscribe-title::before{
    content: "";
    position: absolute;
    display: block;
    border: 1px solid var(--black-color);
    width: 275px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    bottom: -10px;
}
.form-subscribe{
    width: 100%;
    position: relative;
    margin-bottom: 60px;
}
.form-subscribe label{
    position: absolute;
    z-index: 1;
    padding: 23px 0 23px 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */
    letter-spacing: 0.2em;
    text-transform: uppercase;
    
}
.form-subscribe .form-sub{
    width: 100%;
    padding: 22px 174px;
    border: 1px solid #CECECE;
    box-sizing: border-box;
    border-radius: 30px;
    background-color: var(--white-color);
    line-height: 14px;
    font-size: 14px;
    outline: none;
}
.form-subscribe .btn-subscribe{
    position: absolute;
    z-index: 1;
    right: 0;
    /* padding: 23px 30px 23px 0; */
    padding: 16px 100px 23px 10px;
    border: 0;
    outline: 0;
    background: transparent;
    font-weight: 600;
    font-size: 14px;    
    line-height: 14px;
    cursor: pointer;
}
.form-subscribe .btn-subscribe:hover{
    color: var(--primary-color);
}
.service-social{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service-icon{
    display: flex;
    align-items: center;
}
.service-icon i{
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-right: 15px;
}
.service-icon svg{
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-right: 15px;
}

.service-icon span{
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
}
.service-social .line{
    width: 90px;
    height: 1px;
    background: #000000;
}  

/* Footer */

.footer-main{
   /* position: relative; */
   background: url(../images/footer.png) no-repeat top center/cover;
}
.footer-image{
    margin: 0 63px;
    text-align: center;
}
/* .footer-logo{
    width: 100%;
    height: auto;
} */
.footer-content{
    width: 100%;
    max-width: 100%;
    padding: 60px 0;
}
.footer-list{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 50px;
}
.footer-list .footer-item{
    /* border-right: 1px solid var(--white-color); */
}
.footer-list .footer-item .footer-links{
    text-decoration: none;
    color: var(--white-color);
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    padding: 0 20px;
    border-right: 1px solid var(--white-color);
}
.footer-list .footer-item:last-child .footer-links{
    border-right: 0;
}
.footer-desc{
    max-width: 800px;
    width: 100%;
    margin: 37px auto 30px;
    text-align: center;
    color: var(--white-color);
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
}
.footer-contact{
    text-align: center;
    color: var(--white-color);
    text-transform: uppercase;
    margin-bottom: 30px;
}
.footer-title{
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.2em;
}
.footer-text{
    font-weight: 800;
    font-size: 16px;
    line-height: 30px;
}
.footer-coppyright{
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    /* or 100% */

    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--white-color);
}

/* Best seller */
.product-filter{
     background: rgba(243, 243, 243, 0.7);
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 20px 23px;
}
.filter-menu{
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.filter-menu.actived, .filter-group.actived{
    display: block;
}

.filter-icon{
    margin-right: 10px;
    font-size: 20px;
    line-height: 20px;
}
.filter-name{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}
.filter-list{
    display: flex;
    list-style: none;
}
.filler-item{
    margin: 0 20px;
}
.filter-links{
    text-decoration: none;
    color: var(--black-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}
.filter-links:hover{
    color: var(--primary-color);
    font-weight: 600;
    border-bottom: 1px solid var(--primary-color);
}

.filter-group{
    background: #F7F7F7;
    position: absolute;
    top: 50px;
    left: -23px;
    min-width: 190px;
    width: 100%;
    z-index: 1;
    padding: 20px 23px;
    display: none;
}
.filter-line{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.05);
    margin: 10px 0 20px 0;
}
.sorted-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sorted-name{
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: var(--black-color);
}
.sorted-icon{
    font-size: 20px;
    margin-bottom: 14px;
}
.sorted-list{
    list-style: none;
    display: flex;
    flex-direction: column;
}
.sorted-item{
    margin-bottom: 10px;
}
.sorted-item i{
    margin-right: 20px;
    font-size: 10px;
}
.sorted-links{
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
    color: var(--black-color);
}
.sorted-links:hover{
    color: var(--primary-color);
}
/* Price */
    .ui-slider-active {
    cursor: -webkit-grabbing;
    cursor: grabbing;
    }
  
    .filter-price {
    --primary: #275efe;
    --headline: #3F4656;
    --text: #99A3BA;
    width: 100%;
  }
  
  .filter-price .price-values div
    {
    display: inline-block;
    vertical-align: top;
  }
  .filter-price .price-values {
    /* margin: 0; */
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: var(--black-color);
    margin-top: 10px;
  }
  .filter-price .price-values > div:first-child {
    margin-right: 2px;
  }
  .filter-price .price-values > div:last-child {
    margin-left: 2px;
  }
  .filter-price .progress-price {
    margin: 10px 0 10px 5px;
  }
  
  .progress-price {
    --primary: #000;
    --handle: #fff;
    --handle-active: #000000;
    --handle-hover: #000000;
    --handle-border: 2px solid var(--primary);
    --line: #c3c3c3;
    --line-active: var(--black-color);
    width: 100%;
    height: 23px;
    position: relative;
    pointer-events: none;
  }
  .progress-price .ui-slider-handle {
    --y: 0;
    --background: var(--handle);
    cursor: -webkit-grab;
    cursor: grab;
    -webkit-tap-highlight-color: transparent;
    top: 50%;
    width: 9px;
    height: 9px;
    transform: translateX(-50%) translate(-50%);
    position: absolute;
    outline: none;
    display: block;
    pointer-events: auto;
  }
  .progress-price .ui-slider-handle div {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    transition: background 0.4s ease;
    transform: translateY(calc(var(--y) * 1px));
    border: var(--black-color);
    background: var(--black-color);
  }
  .progress-price .ui-slider-handle:hover {
    --background: var(--handle-hover);
  }
  .progress-price .ui-slider-handle:active {
    --background: var(--handle-active);
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
  .progress-price svg {
    --stroke: var(--line);
    display: block;
    height: 83px;
  }
  .progress-price svg path {
    fill: none;
    stroke: var(--stroke);
    stroke-width: 1;
  }
  .progress-price .active, .progress-price > svg {
    position: absolute;
    top: -27px;
    height: 83px;
  }
  .progress-price > svg {
    left: 0;
    width: 100%;
  }
  .progress-price .active {
    position: absolute;
    overflow: hidden;
    left: calc(var(--l) * 1px);
    right: calc(var(--r) * 1px);
  }
  .progress-price .active svg {
    --stroke: var(--line-active);
    position: relative;
    left: calc(var(--l) * -1px);
    right: calc(var(--r) * -1px);
  }
  .progress-price .active svg path {
    stroke-width: 2;
  }
  .values-line{
      width: 10px;
      border: 1px solid var(--black-color);
      line-height: 22px;
      margin-top: 5px;
  }


/*  */
.size-list{
    display: flex;
    flex-direction: column;
    margin-top: 13px;
}
.size-table{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.size-title{
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    color: var(--black-color);
}
.size-desc{
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    color: var(--black-color);
}

.color-list{
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
}
.color-item{
    width: 25%;
    margin-bottom: 15px;
    padding: 0 10px;
}
.color-item:nth-child(1), .color-item:nth-child(5), .color-item:nth-child(9), .color-item:nth-child(13){
    padding-left: 0;
}
.color-item:nth-child(4), .color-item:nth-child(8), .color-item:nth-child(12), .color-item:nth-child(16){
    padding-right: 0;
}
.color-size{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    position: relative;
}
.color-size:hover::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25px;
    height: 25px;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);

}
.color-black{
    background: black;
}
.color-white{
    background: var(--white-color);
}
.color-grey{
    background: gray;
}
.color-lightgrey{
    background: #C4C4C4;
}
.color-pink{
    background: var(--primary-color);
}
.color-green{
    background: #1A9FA2;
}
.color-yellow{
    background: #EFB627;
}
.color-lightyellow{
    background: #F4F2C6;
}
.color-flamingo{
    background: #D3C1B3;
}
.color-darkgrey{
    background: #695A4B;
}
.color-blue{
    background: #244EA2;
}
.color-carrot{
    background: #FF9900;
}
.color-neongreen{
    background: #519E14;
}
.color-lavender{
    background: #8C44A6;
}
.color-irish{
    background: #14C590;
}
.color-caramel{
    background: #670303;
}

/* DETAIL */
.message{
    margin-bottom: 34px;
}
.message-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 65px;
    background: rgba(243, 243, 243, 0.7);
}
.message-link{
    text-decoration: none;
    color: var(--primary-color);
    text-transform: lowercase;
    border: 1px solid var(--primary-color);
    border-radius: 30px;
    padding: 5px 14px;
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
}
.message-link:hover{
    background: var(--primary-color);
    color: var(--white-color);
}

.detail-main{
    display: flex;
}
.detail-slider{
    display: flex;
    margin-right: 30px;
}
.detail-slider-left{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}
.detail-slider-left-image{
    /* background: rgba(255, 255, 255, 0.6); */
    background: blue;
    width: 120px;
    height: 120px;
    margin-bottom: 40px;
    padding: 20px;
}
.detail-slider-left img{
    width: 100%;
    height: auto;
    object-fit: contain;

}